TELEGRAM_BOT_TOKEN=...

SCREENSHOTS_FOLDER='screenshots/'

WEBDRIVER_PATH="/usr/bin/chromedriver"
BROWSER_EXEC_PATH="/usr/bin/google-chrome"

DISPLAY_WIDTH=1600
DISPLAY_HEIGHT=900

LOGGER_FILE_PATH='logs/error_log.log'
LOGGER_LEVEL='DEBUG'
